@import url("./basic.css");

.py-rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#floatingDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: red;
}
